<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cribs And Shells</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <header class="header">

        <div class="logs">      
            <img class ="logo" src="img/logo4.png" alt="">
            <h1>Cribs&Shells <span>Real Estates!</span></h1>
        </div>  
    

        <nav class ="navbar">
            <a href="home.html">Home</a>
            <a href="about.html">About</a>
            <a href="project.html">Project</a>
            <a href="prospect.html">Prospect</a>
            <a href="structures.html">Structures</a>
            <a href="contact.html">Contact</a>


        </nav>

        <div id="menu-btn" class= "fas fa-bars"></div>
    </header>
    
    <h1 class="heading"  data-aos-delay="100" data-aos="flip-up" data-aos-duration="700">Heard <span>about us?</span></h1>


    <section class="news" id="news">
       

        <div class="box-container">

            <div class="box"  data-aos-delay="100" data-aos="zoom-in" data-aos-duration="1000">
                <div class="image">
                    <img src="img/new5.png" alt="">
                </div>

                <div class="content">
                    <div class="icons">
                        <a href="#"><i class="fas fa-calendar"></i> 12th June, 2021 </a>
                        <a href="#"><i class="fas fa-user"></i> by admin </a>
                    </div>

                    <h3>Realty plus</h3>
                    <p>We are the team that adds a little extra to your real estate needs. 
                        We provide the best service anyone could ever think of or imagine</p>
                        <a href="https://www.homedit.com/dream-home/concrete-the-wall-house-by-guedes-cruz-arquitectos-roof-pool/" class="btn">Read more <span class ="fas fa-chevron-right"></span></a>
                </div>
        
            </div>


            <div class="box" data-aos-delay="100" data-aos="flip-down" data-aos-duration="1000">
                <div class="image">
                    <img src="img/new1.png" alt="">
                </div>

                <div class="content">
                    <div class="icons">
                        <a href="#"><i class="fas fa-calendar"></i> 12th June, 2021 </a>
                        <a href="#"><i class="fas fa-user"></i> by admin </a>
                    </div>

                    <h3>Cribs are amazing</h3>
                    <p> What do you have in mind? We cater for all of your need.
                        Right from the tiniest to the largest details. 
                        </p>
                        <a href="https://www.realtor.ca/real-estate/23771919/383-oshawa-blvd-s-oshawa-central?utm_source=microsoftbing&utm_medium=referral&utm_campaign=ddfsitelinks" class="btn">Read more <span class="fas fa-chevron-right"></span></a>
                </div>
        
            </div>


            <div class="box" data-aos-delay="100" data-aos="zoom-in" data-aos-duration="1000">
                <div class="image">
                    <img src="img/new3.png" alt="">
                </div>

                <div class="content">
                    <div class="icons">
                        <a href="#"><i class="fas fa-calendar"></i> 12th June, 2021 </a>
                        <a href="#"><i class="fas fa-user"></i> by admin </a>
                    </div>

                    <h3>Subscribe to our Magazine </h3>
                    <p>
                        Subscribe to our monthly magazine issue and get the right information.
                        We can provide you with amazing and exceptional
                        information about your housing and proposed rentals. 
                        
                        </p>
                        <a href="https://www.realtor.ca/real-estate/23800156/0-east-beach-rd-clarington-bowmanville" class="btn">Read more <span class ="fas fa-chevron-right"></span></a>
                </div>
        
            </div>

            <div class="box" data-aos-delay="100" data-aos="slide-right" data-aos-duration="900">
                <div class="image">
                    <img src="img/hs7.jpg" alt="">
                </div>

                <div class="content">
                    <div class="icons">
                        <a href="#"><i class="fas fa-calendar"></i> 12th June, 2021 </a>
                        <a href="#"><i class="fas fa-user"></i> by admin </a>
                    </div>

                    <h3>Something new</h3>
                    <p> Every week, there is always something new that we offer.
                        We are the one stop informationm provider for every real estate need.
                       </p>
                        <a href="https://cdn.realtor.ca/listing/TS637712062456700000/reb82/highres/0/e5417350_4.jpg" class="btn">Read more <span class ="fas fa-chevron-right"></span></a>
                </div>
        
            </div>

            <div class="box" data-aos-delay="100" data-aos="zoom-in" data-aos-duration="1000">
                <div class="image">
                    <img src="img/hs10.jpg" alt="">
                </div>

                <div class="content">
                    <div class="icons">
                        <a href="#"><i class="fas fa-calendar"></i> 12th June, 2021 </a>
                        <a href="#"><i class="fas fa-user"></i> by admin </a>
                    </div>

                    <h3>Building a world class design. </h3>
                    <p> All of our designs are world class and we have a 
                        team of great engineers and architects 
                        doing the job you paid for. 
                        </p>
                        <a href="http://kawarthakelli.realtor/fenelon-falls-real-estate/" class="btn">Read more <span class ="fas fa-chevron-right"></span></a>
                </div>
        
            </div>

            <div class="box" data-aos-delay="100" data-aos="slide-left" data-aos-duration="900">
                <div class="image">
                    <img src="img/hs9.jpg" alt="">
                </div>

                <div class="content">
                    <div class="icons">
                        <a href="#"><i class="fas fa-calendar"></i> 12th June, 2021 </a>
                        <a href="#"><i class="fas fa-user"></i> by admin </a>
                    </div>

                    <h3>Great Dreams. </h3>
                    <p> Do you have great dreams with regards to your housing needs? we are here 
                        to help you realize all of it.
                    ?</p>
                        <a href="https://www.zumper.com/" class="btn">Read more <span class ="fas fa-chevron-right"></span></a>
                </div>
        
            </div>
        </div>       
    </section>


    <section class="home" id ="home">
        <h1 class="heading" data-aos-delay="100" data-aos="slide-right" data-aos-duration="900">Heard <span>about us?</span></h1>
        
    <div class="head">
        <h3>Providing peace of mind for families since 1975
            Ceaselessly and joyfully, we have done this for so many years
            families are happy, richer, larger, safer and more secure.
            Ceaselessly and joyfully, we have done this for so many years
            families are happy, richer, larger, safer and more secure.
        </h3>
    </div>
        <div class="image" data-aos-delay="100" data-aos="zoom-in" data-aos-duration="900">
        <img src ="img/new2.png" alt="">
        </div>
 
        <div class="content" data-aos-delay="100" data-aos="flip-down" data-aos-duration="800">
            <h3>Top notch Engineers.</h3>
            <p>Our team of engineers are ready to provide great services for you.
                Exceptionally technical and vast. You are covered and secure     
            </p>
            <a href="https://www.zolo.ca/" class ="btn">Your home <span class="fas fa-chevron-right"></span></a>
        
        </div>


           
    
            <div class="content" data-aos-delay="100" data-aos="zoom-in" data-aos-duration="900">
                <h3>A team creating great deals.</h3>
                <p> We also have a team of real estate professionals who can provide
                    amazing services. view mour review page to learn more from them.
                    
                </p>
                <a href="http://ottawa.agentfarzin.com/Home" class ="btn">Your home <span class="fas fa-chevron-right"></span></a>
                
            </div>

            <div class="image" data-aos-delay="100" data-aos="fade-in" data-aos-duration="1000">
                <img src ="img/new1.png" alt="" data-aos-delay="100" data-aos="slide-left" data-aos-duration="900">
             </div>

    </section>

    <section class="icons-container" ng-app="appone" ng-controller = "apponeCtr" >

        
        <div class="icons" data-aos-delay="100" data-aos="slide-right" data-aos-duration="900">
            <i class ="fas fa-building"></i>
            <h3>House Value</h3>

            <p>Great Apartments at very affordable prices </p>
            <hr>
            <p>Let us calculate the worth of your home in 25 years!</p>
            <hr>
            <p>Your income? <input type ="number" placeholder="Enter income" ng-model ="fincome"></p>
            <p>Spouse income? <input type ="number" placeholder="Enter spouse income" ng-model ="mincome"></p>
            <btn class ="btn" ng-click="result()">Total</btn>
            <br>
            <p>In 25years, value of your house is : {{ ((fincome + mincome) * 25)/2 | currency}}</p>
          
        </div>


        <div class="icons" data-aos-delay="100" data-aos="slide-right" data-aos-duration="900">
            <i class ="fas fa-credit-card"></i>
            <h3>Payment</h3>
            <p>Flexible payment plans </p>

            <hr>
            <p>Would you like to know amount of your Mortgage payment?</p>
            <hr>
            <p>Monthly income? <input type ="number" placeholder="Enter income" ng-model ="income1"></p>
            <p>Sp Monthly income? <input type ="number" placeholder="Enter spouse income" ng-model ="income2"></p>
            <btn class ="btn" ng-click="results()">Total</btn>
            <br>
            <p>Monthly payment is : {{ ((income1 + income2) * 12)/24 | currency }} </p>


        </div>      

        <div class="icons" data-aos-delay="100" data-aos="flip-up" data-aos-duration="900">
            <i class ="fas fa-handshake"></i>
            <h3>We make the deal</h3>
            <p>How much mortgage do you think you qualify for?</p>
            <hr>
           
            <p>Annual income <input type ="number" placeholder="Enter income" ng-model ="mtincome"></p>
            <p>Sp Annual income <input type ="number" placeholder="Enter spouse income" ng-model ="spincome"></p>
            <p>Other income <input type ="number" placeholder="Enter spouse income" ng-model ="oincome"></p>
            <btn class ="btn" ng-click="results()">Total</btn>
            <br>
            <p>You qualify for mortgage of : {{ (12) * (mtincome + spincome + oincome) | currency }} </p>


        </div>

        <div class="icons" data-aos-delay="100" data-aos="slide-left" data-aos-duration="900">
            <i class ="fas fa-car"></i>
            <h3>Easier Mortgage </h3>
            <p>Don't break the bank </p>
            <hr>

            <p>Last income <input type ="number" placeholder="income for last year" ng-model ="pincome"></p>
            <p>Sp last income <input type ="number" placeholder="spouse income last year" ng-model ="sppincome"></p>
            <p>Monthly expenditure <input type ="number" placeholder="Monthly expense" ng-model ="mexpense"></p>
            <p>Medicals <input type ="number" placeholder="Medical expense" ng-model ="medicals"></p>

            <btn class ="btn" ng-click="results()">Total</btn>
            <br>
            <p>Rebate entitled to is : {{ pincome + sppincome - (mexpense * 12) - medicals | currency }} </p>
          
        </div>

       

        <div class="icons" data-aos-delay="100" data-aos="slide-left" data-aos-duration="900">
            <i class ="fas fa-bed"></i>
            <h3>Zero commission</h3>
            <p>. </p>

            <hr>
            <p>Let us help you with the amount of tax to be  paid on your property!</p>
            <hr>
            <p>Annual income? <input type ="number" placeholder="Enter income" ng-model ="mtincome"></p>
            <p>Sp Annual income? <input type ="number" placeholder="Enter spouse income" ng-model ="spincome"></p>
            <btn class ="btn" ng-click="results()">Total</btn>
            <br>
            <p>Total yearly tax: {{ (13/100) * (mtincome + spincome ) | currency }} </p>
        </div>

        <div class="icons"  data-aos-delay="100" data-aos="slide-right" data-aos-duration="900">
            <i class ="fas fa-phone"></i>
            <h3>Affordable Maintenance</h3>
            <p>We have top notch maintenance team. Here is your yearly maintenance cost </p>
            <hr>

            <p>House value <input type ="number" placeholder="Enter worth of house" ng-model ="value"></p>
            <p>Number of years <input type ="number" placeholder="How old is house" ng-model ="age"></p>
            <p>Monthly mortgage paid <input type ="number" placeholder="Amount of Mortgage" ng-model ="pmortgage"></p>
            <btn class ="btn" ng-click="results()">Total</btn>
            <br>
            <p> Yearly Maintenance fee is: {{ (value - (pmortgage * 12)) /50 | currency }} </p>

        </div> 

      
        <div class="icons"  data-aos-delay="100" data-aos="slide-right" data-aos-duration="900">
            <i class ="fas fa-users"></i>
            <h3>Rent Calculator</h3>
            <p>Beautiful and affordable apartments. </p>
            <hr>

            <p>Total family income <input type ="number" placeholder="Enter monthly income" ng-model ="moinc"></p>
            <p>Family size <input type ="number" placeholder="How big is your family" ng-model ="famsize"></p>
            <p>Monthly expenses <input type ="number" placeholder="other expense" ng-model ="oexp"></p>
            <btn class ="btn" ng-click="results()">Total</btn>
            <br>
            <p> You should only pay : {{ 25/100 * ((moinc * famsize)- oexp) | currency }} </p>

        </div>






        <div class="icons"  data-aos-delay="100" data-aos="flip-down" data-aos-duration="900">
            <i class ="fas fa-phone"></i>
            <h3>Affordable Maintenance</h3>
            <p>We have top notch maintenance team. Here is your yearly maintenance cost </p>
            <hr>

            <p>House value <input type ="number" placeholder="Enter worth of house" ng-model ="value"></p>
            <p>Number of years <input type ="number" placeholder="How old is house" ng-model ="age"></p>
            <p>Monthly mortgage paid <input type ="number" placeholder="Amount of Mortgage" ng-model ="pmortgage"></p>
            <btn class ="btn" ng-click="results()">Total</btn>
            <br>
            <p> Yearly Maintenance fee is: {{ (value - (pmortgage * 12)) /50 | currency }} </p>

        </div> 

      
        <div class="icons"  data-aos-delay="100" data-aos="slide-left" data-aos-duration="900">
            <i class ="fas fa-users"></i>
            <h3>Rent Calculator</h3>
            <p>Beautiful and affordable apartments. </p>
            <hr>

            <p>Total family income <input type ="number" placeholder="Enter monthly income" ng-model ="moinc"></p>
            <p>Family size <input type ="number" placeholder="How big is your family" ng-model ="famsize"></p>
            <p>Monthly expenses <input type ="number" placeholder="other expense" ng-model ="oexp"></p>
            <btn class ="btn" ng-click="results()">Total</btn>
            <br>
            <p> You should only pay : {{ 25/100 * ((moinc * famsize)- oexp) | currency }} </p>

        </div>

<div class="icons"  data-aos-delay="100" data-aos="slide-left" data-aos-duration="900">
            <i class ="fas fa-phone"></i>
            <h3>Affordable Maintenance</h3>
            <p>We have top notch maintenance team. Here is your yearly maintenance cost </p>
            <hr>

            <p>House value <input type ="number" placeholder="Enter worth of house" ng-model ="value"></p>
            <p>Number of years <input type ="number" placeholder="How old is house" ng-model ="age"></p>
            <p>Monthly mortgage paid <input type ="number" placeholder="Amount of Mortgage" ng-model ="pmortgage"></p>
            <btn class ="btn" ng-click="results()">Total</btn>
            <br>
            <p> Yearly Maintenance fee is: {{ (value - (pmortgage * 12)) /50 | currency }} </p>

        </div> 


    </section>


    <section class="footer" data-aos-delay="50" data-aos="zoom-in" data-aos-duration="1000">

        <div class="box-container">
            <div class="box">
                <h3>Links</h3>
                <a href="home.html"><i class="fas fa-chevron-right"></i> Home </a>
                <a href="about.html"><i class="fas fa-chevron-right"></i> About </a>
                <a href="project.html"><i class="fas fa-chevron-right"></i> Project </a>
                <a href="prospect.html"><i class="fas fa-chevron-right"></i> Prospect </a>
                <a href="structures.html"><i class="fas fa-chevron-right"></i> Structures </a>
                <a href="contact.html"><i class="fas fa-chevron-right"></i> Contact </a>
            </div>

            <div class="box">
                <h3>What we do</h3>
                <a href="home.html"><i class="fas fa-chevron-right"></i> Building </a>
                <a href="about.html"><i class="fas fa-chevron-right"></i> Land Acquisition </a>
                <a href="project.html"><i class="fas fa-chevron-right"></i> Construction </a>
                <a href="prospect.html"><i class="fas fa-chevron-right"></i> Sales </a>
                <a href="structures.html"><i class="fas fa-chevron-right"></i> Property Maintenance </a>
               
            </div>

            <div class="box">
                <h3>Contact</h3>
                <a href="home.html"><i class="fas fa-envelope"></i> cribsandshells@gmail.com </a>
                <a href="about.html"><i class="fas fa-phone"></i> +23430437676 </a>
                <a href="project.html"><i class="fas fa-map-marker-alt"></i> 234 Dundas Toronto L2S3Y2 </a>
                
            </div>


            <div class="box">
                <h3>Follow us</h3>
                <a href="home.html"><i class="fab fa-instagram"></i> instagram </a>
                <a href="about.html"><i class="fab fa-facebook-f"></i> Facebook </a>
                <a href="project.html"><i class="fab fa-twitter"></i> Twitter </a>
                <a href="prospect.html"><i class="fab fa-whatsapp"></i> Whatsapp </a>
                <a href="structures.html"><i class="fab fa-linkedin"></i> Linkedin </a>
               
            </div>
        </div>

        <div class="credit">Designed by <span> Adeniyi Ladenegan </span> | &copy 2021</div>
    </section>

    <script src="script.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>